doctype html
html
  head
    title IMAP Move | GET IN YOUR HOME MAIL THIS IS YOUR HOME NOW
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    link(rel='stylesheet' href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:url' content='https://imapmove.com')
    meta(property='og:title' content='IMAP Move | GET IN YOUR HOME MAIL THIS IS YOUR HOME NOW')
    meta(property='og:description' content='just an imap mover for your mail house moving needs')
    meta(property='og:image' content='https://imapmove.com/getinyourhome.jpg')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content='IMAP Move | GET IN YOUR HOME MAIL THIS IS YOUR HOME NOW')
    meta(name='twitter:description' content='just an imap mover for your mail house moving needs')
    meta(name='twitter:image' content='https://imapmove.com/getinyourhome.jpg')
  body  
    br
    .container
      center
        h1 IMAP Move 
        h4 I am going to make this simple as its not a look pretty site its a mail sync tool and will do what you need
        br
    .container-lg
      form(method='POST', action='/transfer' enctype='json')
        .card.bg-dark
          
          .row
            .col 
              h5.text-white SOURCE
          
              .card-text.text-white
                label Login
                input.form-control(name='loginSource', type='text' placeholder='Login' required=true)
                label Password
                input.form-control(name='passwordSource', type='password' placeholder='Password')
                label IMAP-Server
                input.form-control(name='serverSource', type='text' placeholder='IMAP-Server')
                
            .col 
              h5.text-white DESTINATION
          
              .card-text.text-white
                label Login
                input.form-control(name='loginDest', type='text' placeholder='Login')
                label Password
                input.form-control(name='passwordDest', type='password' placeholder='Password')
                label IMAP-Server
                input.form-control(name='serverDest', type='text' placeholder='IMAP-Server')
                
          br 
          input.btn.btn-primary(type='submit', value='Submit')
        h4 OUTPUT
        .card
          
    
    
    
    
    br
    hr
    footer.footer
      center
        p IMAP move, it moves your mail simples
          
    
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js", integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns", crossorigin="anonymous")
      script(src='/js/main.js')
